
<div class="top">
        
		
		
		<div class="banner" >
        <h1 class="logo"><a href="{{ site.url }}" rel="home" title="Eğitimvaktim">Eğitimvaktim</a></h1>
        <!--<span class="beta">beta</span>-->
          
      
	  <div class="ara">
	 
	 ssara
	  
	  </div>
	  
	  
            
    </div>
		
		
		
		
		
		
		
		
		
    </div>
    
    
<nav id="nav-main">
    <ul>
	

        <li><a href="">Anasayfa</a></li>
        <li><a href="">arşiv</a></li>
        <li><a href="">#etiketler</a></li>
        <li><a href="">ilkokuma</a></li>
        <li><a href="">ilkokuma</a></li>
		<li><a href="">arama yap</a></li>
    </ul>
</nav>
<div id="nav-trigger">
    <span>Menu</span>
</div>
<nav id="nav-mobile"></nav>
       

