
<div class="top">
        
		
		
		<div class="banner" >
        <h1 class="logo"><a href="{{ site.url }}" rel="home" title="Eğitimvaktim">Eğitimvaktim</a></h1>
        <!--<span class="beta">beta</span>-->
          
      
	  <div class="ara">
	 
	
	
	
<script>
  (function() {
    var cx = 'partner-pub-0073304121035399:7363195610';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>



	  
	  </div>
	
	
	  
	  </div>
	  
	  
            
    </div>
		
		
		
		
		
		
		
		
		
    </div>
    
    
<nav id="nav-main">
    <ul>
	

        <li><a href="http://egitimvaktim.com">Anasayfa</a></li>
        <li><a href="http://egitimvaktim.com/posts/">arşiv</a></li>
        <li><a href="http://egitimvaktim.com/tags/">#etiketler</a></li>
        <li><a href="http://egitimvaktim.com/ilk-okuma-yazma-sayfasi/">ilkokuma</a></li>
        <li><a href="http://egitimvaktim.com/iletisim-2">iletişim</a></li>
		<li><a href="http://egitimvaktim.com/arama">arama yap</a></li>
    </ul>
</nav>
<div id="nav-trigger">
    <span>Menu</span>
</div>
<nav id="nav-mobile"></nav>
       

